@page "/DashBoard"

<PageTitle>DashBoard</PageTitle>

@using toolCrawler.Components.TikTok
@inject TikTokService service

<h3>DashBoard</h3>
<input id="inp-tiktok-link" placeholder="tiktok user"/>
<input id="inp-local-path" placeholder="local path"/>

@code {

}
